name: CI - Build and Test

on:
  push:
    branches:
      - develop
      - feature/**
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # uv sync
      - name: Install dependencies from uv.lock
        run: |
          pip install uv
          uv sync --frozen --all-extras --dev

      # data for testing
      - name: Ensure data file exists
        run: |
          mkdir -p data
          cp data/data.csv .

      # test
      - name: Run model tests
        run: uv run pytest tests/model --cov=challenge --cov-report term

      # test api 
      - name: Run API tests
        run: uv run pytest tests/api --cov=challenge --cov-report term
